# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/

# ================================
# IDE / Editor
# ================================
.vscode/
.idea/
*.swp
*.swo

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# ================================
# Data Files
# ================================
data/raw/*
data/output/*

# keep folder structure
!data/raw/.gitkeep
!data/output/.gitkeep

# ================================
# Reports / Temp
# ================================
reports/
*.tmp
*.temp

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Secrets
# ================================
.env
*.key
*.pem

# ================================
# Project Files To Ignore
# ================================
README.md
